.image-gallery {
  &__images {
    display: flex;
    overflow: auto;
  }

  &__add-image {
    border: 1px dashed #000000;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 128px;
    width: 128px;
    height: 96px;
  }

  &__loading-image {
    border: 1px solid #000000;
    min-width: 128px;
    width: 128px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__image {
    height: 96px;
    margin-right: 8px;
    position: relative;

    &:hover .image-gallery__overlay {
      display: block;
    }
  }

  &__overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: right;
  }

  &__overlay-button {
    margin-left: 8px;
  }
}
