.image-gallery {
  &__images {
    display: flex;
  }

  &__add-image {
    border: 1px dashed #000000;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 96px;
  }

  &__image {
    margin-right: 8px;
  }
}
